<div class="main">
    <div>
        <div>
            <button class="menuBtn"
                    routerLink='/admin/allUsers'
                    routerLinkActive="active-element">
                    All users
            </button>
            <button class="menuBtn"
                    routerLink='/admin/stepByStep'
                    routerLinkActive="active-element">
                    Step by step
            </button>
            <button class="menuBtn"
                    routerLink='/admin/userUpdate'
                    routerLinkActive="active-element">
                    Update
            </button>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>