.main{
    background-color: aliceblue;
    width: calc(100vw - 250px);
    height: 100vh;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1000px;
}

.navigation{
    display: flex;
    justify-content: space-around;
}

.menuBtn{
    background-color: rgba(33,37,41,255);
    color: rgba(255,255,255,255);
    border: none;
    border-radius: 7px 25px 0px 0px;
    padding: 10px 20px;
}