<div class="main">
    <div class="wrapper">
        <div class="mt-4 scrollbar" id="scrollbar" style="border-radius: 15px 0px 0px 15px;">
            <table class="table table-dark table-striped rounded mb-0">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td scope="row" style="width: 25%;">{{item.id}}</td>
                        <td style="width: 25%;">{{item.userName}}</td>
                        <td style="width: 25%;">{{item.password}}</td>
                        <td style="width: 25%;">
                            {{item.email}}
                            <button class="btn btn-danger" (click)="deleteUser(item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div >