<div class="main">
    <div class="wrapper">
        <div class="mt-4">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Role</th>
                        <th scope="col">Mail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th>{{user.userName}}</th>
                        <td>{{user.password}}</td>
                        <td>{{user.role}}</td>
                        <td>@{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="navigation">
                <button class="btn btn-success"><</button>
                <button class="btn btn-success" (click)="nextPage()">></button>
            </div>
        </div>
    </div>
</div>