.content{
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
}

.navigation{
    display: flex;
    justify-content:space-around;
}