.main{
    background-color: aliceblue;
    width: calc(100vw - 250px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid black;
}