input, select {
    width: 300px;
}

.main {
    background-color: aliceblue;
    padding: 82px;
    height: 100vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.scrollbar {
    height: 215px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
}

th {
    position: sticky;
    z-index: 2;
    top: 0;
}

.menu .btn{
    margin: 0px;
    padding: 0px 10px;
}

#scrollbar3::-webkit-scrollbar {
    width: 12px;
}

#scrollbar3::-webkit-scrollbar-track {
    background-color: rgb(40, 40, 40);
    border: 0.5px solid #000000;
    border-radius: 0px 50px 50px 0px;
}

#scrollbar3::-webkit-scrollbar-thumb {
    background-color: #198754;
    border-radius: 0px 50px 50px 0px;
}