$menu: rgb(71, 87, 87);
$text: rgb(240, 240, 240);

.menu{
    background-color: $menu;
    height: 100vh;
    width: 250px;
    float: left;
    color: $text;
}

h1{
    text-align: center;
    font-size: 50px;
}

li{
    list-style-type: none;
    font-size: 25px;
    width: 100%;
    padding: 20px;
}

li:hover{
    background-color:rgba(95, 158, 160, 0.112);
}

.active-element{
    border-left: 2px solid rgb(220, 0, 0);
    background-color: rgba(95, 158, 160, 0.329);
}

ul{
    padding: 0%;
}