.main{
    background-color: aliceblue;
    width: calc(100vw - 250px);
    height: 100vh;
    display: flex;
}
.info{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
    width: 50%;
    background-color: rgba(44,48,52,255);
    color: white;
}
.logOutBtn{
    width: 30%;
}

.logOutBtn:nth-child(2){
    background-color: violet;
    color: white;
}

.logOutBtn:nth-child(2):hover{
    background-color: rgb(224, 92, 224);
}

h3{
    border-radius: 10px;
    border: 1px solid violet;
    padding: 1px 5px;
    margin: 0px;
}