.main{
    background-color: aliceblue;
    width: calc(100vw - 250px);
    height: 100vh;
    padding-top: 150px;
}
.info{
    padding: 20px;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid black;
}
.logOutBtn{
    width: 35%;
}